.l-footer {
  background-color: $baseColor;
  padding-bottom: 30px;
  .l-footer__container {
    width: 200px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    background-color: #69c;
    .l-footer__copyright {
      border: solid 1px #fff;
      padding: 20px;
      color: #fff;
      font-size: $baseFontSize - 1px;
    }
  }
}
